"*":
  "atom-autocomplete-php": {}
  "atom-ide-ui":
    "atom-ide-code-format": {}
  "clang-format":
    formatCOnSave: true
    formatCPlusPlusOnSave: true
    formatJavascriptOnSave: true
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
        ".flowconfig"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "emmet-jsx-css-modules"
      "emmet-jsx-props"
      "latex"
      "nuclide"
      "latextools"
      "linter-sass-lint"
      "vim-mode-plus"
      "linter"
      "autocomplete-clang"
      "ide-cpp"
      "clang-format"
    ]
    telemetryConsent: "no"
  editor:
    fontSize: 12
    softWrap: true
  "exception-reporting":
    userId: "fa06bac5-9996-41d4-b1f4-b9e4c614e537"
  "latex-plus":
    texBin: "/Library/TeX/texbin/"
  "linter-ui-default":
    panelHeight: 355
    showPanel: true
  "markdown-preview":
    useGitHubStyle: true
  nuclide:
    "nuclide-home":
      showHome: false
  "tree-view": {}
  welcome:
    showOnStartup: false
